#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

li,
ul {
  margin: 0px;
  padding: 0px;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.article-list-article {
  box-shadow: 0px 0px 2px 2px hsl(0, 0%, 100%);
  background-color: rgb(40, 40, 40);
}

.article-list-article:hover {
  background: rgb(117, 117, 117);
  box-shadow: 0px 0px 2px 2px hsl(0, 0%, 100%);
  cursor: pointer;
}

.article-list-article:active {
  background: rgb(117, 117, 117);
  box-shadow: 0px 0px 4px 3px hsl(0, 0%, 100%);
  cursor: pointer;
}

img {
  min-width: 250px;
  min-height: 250px;
  max-width: 250px;
  max-height: 250px;
  -webkit-user-drag: none;
}
.comments-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2px;
}
.comment-list-comment {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0px 0px 2px 2px hsl(0, 0%, 100%);
 

  
}
.comment-list-comment:hover {
  background: rgb(117, 117, 117);
  box-shadow: 0px 0px 2px 2px hsl(0, 0%, 100%);
  cursor: pointer;
}
